// COLORS


$white: #ffffff;
$black: #000000;
$gray-light: #8e8e8e;
$gray-dark: #595959;
$blue-light: #64a3f9;
$blue-dark: #0462e2;
$blue-text: #0e57b6;
$purple: #4a0063;



// FONT-SIZE


$font-size-1: 0.75rem;  //12px
$font-size-2: 1rem;  //16px
$font-size-3: 1.5rem;  //24px
$font-size-4: 2.25rem;  //36px
$font-size-5: 3rem;  // 48px
$font-size-6: 3.75rem;  // 60px


// GRID

$grid-base: 10px;


// BREAKPOINT

$bp-medium: '768px';
$bp-large: '1200px';
