.u-black{
    color:$black;
}

.u-white{
    color:$white;
}
.u-gray-text{
    color:$gray-light;
}
.u-blue-dark{
    color:$blue-dark;
}
.u-blue-light{
    color:$blue-light;
}
.u-blue-text{
    color:$blue-text;
}
.u-gray-dark{
    color:$gray-dark;
}
.u-purple {
    background:$purple!important;

}
.u-color-purple{
    color: $purple!important;
}


