.u-ml {
    margin-left:10px;
}
.u-ml2 {
    margin-left:20px;
}
.u-ml3 {
    margin-left:45px;
}
.u-ml4 {
    margin-left:60px;
}

.u-mr{
    margin-right: 10px;
}
.u-pt{
    margin-top: 15px;
}
.u-mt2{
    margin-top: 35px;
}
.u-mt3{
    margin-top: 5px;
}